<div class="product-badges-container flex gap-1 items-center absolute product-card-badges
      bottom-0 right-0 pointer-events-none z-10 award-winning-badge-wrapper not-without-background">
  <img src="https://cdn.shopify.com/s/files/1/0777/8339/files/award.webp?v=1776679196" alt="Award Trophy" width="13" height="13" loading="lazy">
  <p class="{{ class }}"> Award Winner </p>
</div>