<div class="product-badges-container flex gap-1 items-center absolute product-card-badges
      bottom-0 right-0 pointer-events-none z-10 award-winning-badge-wrapper best-selling-badge-wrapper not-without-background">  
  <p class="{{ class }}"> Best Selling </p>
</div>