<!-- Modal Structure (Remains the same) -->
<div class="hulk-form-modal-custom-overlay" id="hulk-form-modal-custom-overlay">
  <div class="hulk-form-modal-custom-content">
    <button class="hulk-form-modal-custom-close-btn" id="hulk-form-modal-custom-close-btn"><img src="{{ 'icon-close.webp' | file_url }}" height="10" width="10" loading="lazy"></button>    
    <div class="modal-body-text">
      {{ hulk_form_id_block }}
    </div>
  </div>
</div>